<style>
    #pfp {
        width: 100%;
        display: flex;
        justify-content: center;
        transition: .1s;
        /* border-radius: 10px; */
        position: relative;
    }
    #pfp img {
        border-radius: 10px;
        box-shadow: none;
    }
    #pfp:hover {
        scale: 1.1;
        filter: brightness(1.2);
    }
</style>
<div class="card">
    <p><strong>Hello, I am...</strong></p>
    <a href="/characters/bubbles" id="pfp"><img src="/imgs/pfp.png" alt="Soapi's profile picture" title="meow~ >w>"></a>
    <h2 style="margin: .5em 0 0;color: light-dark(var(--light-accent), var(--dark-accent));text-align: center;">Soapi</h2>
    <h3 style="margin: 0;text-align: center;">Soap Bubble Cat</h3>
</div>
<div class="card">
    <p><strong>Quick Information</strong></p>
    <p><span style="opacity: .7; font-size: smaller;">Pronouns</span><br><a href="/pronouns">She/they</a></p>
    <p><span style="opacity: .7; font-size: smaller;">Gender</span><br><span style="background:linear-gradient(90deg, #5bcef9 0%, #f5abb9 25%, #ffffff 50%, #f5abb9 75%, #5bcef9 100%);background-clip: text;color:transparent;width:fit-content;">Transfemme</span></p>
    <p><span style="opacity: .7; font-size: smaller;">Orientation</span><br><span style="background:linear-gradient(90deg, rgba(227,141,0,1) 0%, rgba(237,206,0,1) 25%, rgba(255,255,255,1) 50%, rgba(98,175,220,1) 75%, rgba(26,53,85,1) 100%);background-clip: text;color:transparent;width:fit-content;">Aroace</span></p>
    <p><span style="opacity: .7; font-size: smaller;">Birthday</span><br>November 1</p>
    <p><span style="opacity: .7; font-size: smaller;">Over 18?</span><br>Yes</p>
</div>
<div class="card">
    <p><strong>I am at...</strong></p>
    <p><span style="opacity: .7; font-size: smaller;">DeviantArt</span><br><a href="https://deviantart.com/AllBubbledUp">@AllBubbledUp</a></p>
    <p><span style="opacity: .7; font-size: smaller;">FurAffinity</span><br><a href="https://furaffinity.net/user/allbubbledup">~AllBubbledUp</a></p>
    <p><span style="opacity: .7; font-size: smaller;">Bluesky</span><br><a href="https://bsky.app/profile/did:plc:larhwyjp3xcr52hw2jshdek3">@soapi.plsbubble.me</a></p>
    <p><span style="opacity: .7; font-size: smaller;">Discord</span><br><a href="#" onclick="navigator.clipboard.writeText('@all.bubbled.up');alert('Copied username!')">@all.bubbled.up</a></p>
</div>